body{
    text-align: center;
    background-color: black;
}
#container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    color: white;
    margin: 20px;
}
.flag{
    height: 100px;
    width: 100px;
}